@media screen and (max-width: 1000px)  {
    body{
        font-size: 40px;
    }
    main{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: 400px;
    }
    .sticker p{
        font-size: 50px;
    }

    .modal{
        width: 70%;
        height: 35%;
    }

    textarea{
        width: 92%;
        height: 45%;
        font-size: 60px;
    }

    button{
        width: 35rem;
        font-size: 60px;
    }

    .modal-buttons button {
        width: 15rem;
        font-size: 40px;
    }

    .design-container select{
        width: 60%;
        font-size: 35px;
    }
    select option{
        font-size: 20px;
    }

    .modal-buttons {
        padding: 10% 5%;

    }
}

@media (orientation: landscape ) and (max-device-width: 1400px){
    body{
        font-size: 30px;
    }
    button{
        width: 30rem;
        font-size: 40px;
    }
    .modal{
        width: 70%;
        height: 90%;
    }

    textarea{
        height: 35%;
        font-size: 40px;
    }

    .design-container select{
        width: 60%;
        font-size: 20px;
    }


    .modal-buttons button {
        width: 10rem;
        font-size: 30px;
    }

    .modal-buttons {
        padding: 5% 5%;

    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1400px) and (orientation: landscape ){
    body{
        font-size:30px;
    }

    .modal{
        width: 40%;
        height: 70%;
    }
    textarea{
        width: 92%;
    }
    main{
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: 250px;
    }



    .design-container select{
        width: 50%;
        font-size: 30px;
    }
}


@media screen and (min-device-width: 700px) and (max-device-width: 1400px) and (orientation: portrait ){
    body{
        font-size: 40px;
    }

    .modal{
        width: 70%;
        height: 70%;
    }

    .modal-buttons {
        padding: 25% 5%;

    }
}